@import "nullstyle.scss";

.wrapper {
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
	background: #000;
}

.content{
	// min-width: 920px;
	// background-color: aqua;
}

.header {
	display: flex;
	// flex-basis: 20% 80%;

	&__class-1 {
		display: flex;
		flex-basis: 20%;
		min-width: 200px;
		min-height: 520px;
		background: #f00;
	}

	&__class-2 {
		display: flex;
		flex-basis: 80%;
		min-width: 200px;
		min-height: 520px;
		background: #0f0;
	}
}
